<aside id="admin-sidebar">
    <div class="admin-sidebar__header">
        <img src="/imgs/admin/logo-admin-white.png" alt="Admin Logo">
        <span class="material-symbols-rounded">close</span>
    </div>

    <div class="admin-sidebar__content">
        <div class="admin-sidebar__profile">
            <div class="profile__img">
                <img src="<%= user ? '/imgs/admin/' + user.admin_avt_img : '/imgs/admin/admin_default.jpg' %>" alt="Admin Avatar" width="100%">
            </div>
            <h4><%= user ? user.admin_name : 'Admin' %></h4>
        </div>

        <ul class="admin-sidebar__list">
            <a href="/admin" class="admin-sidebar__list-item active">
                <span class="material-symbols-rounded">dashboard</span>
                <span>Dashboard</span>
            </a>
            <a href="/admin/products_admin" class="admin-sidebar__list-item">
                <span class="material-symbols-rounded">inventory_2</span>
                <span>Sản Phẩm</span>
            </a>
            <a href="/admin/categories_admin" class="admin-sidebar__list-item">
                <span class="material-symbols-rounded">category</span>
                <span>Danh Mục</span>
            </a>
            <a href="/admin/orders_admin" class="admin-sidebar__list-item">
                <span class="material-symbols-rounded">receipt_long</span>
                <span>Đơn Hàng</span>
            </a>
            <a href="/admin/users_admin" class="admin-sidebar__list-item">
                <span class="material-symbols-rounded">person</span>
                <span>Người dùng</span>
            </a>
            <a href="/admin/logout" class="admin-sidebar__list-item">
                <span class="material-symbols-rounded">logout</span>
                <span>Đăng xuất</span>
            </a>
        </ul>
    </div>
</aside>